/*COLOR PALETTE DELLE PAGINE*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: white;
}

/* Typography */
h1 {
  color: black;
  font-size: 50px;
  font-weight: 1200;
}
h2 {
  color: black;
  font-size: 30px;
  font-weight: 1000;
}
h3 {
  color: black;
  font-size: 20px;
  font-weight: 800;
}
h4 {
  color: black;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 15px;
}
h5 {
  color: white;
  font-size: 17px;
  padding-bottom: 15px;
}

/* Bottoni di navigazione per il menu */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  align-items: center;
  text-align: center;
  background-color: transparent;
}
.nav_links {
  flex: 1;
  text-align: right;
  background-color: transparent;
}
.nav_links ul {
  padding: 0; 
  margin: 0;
}
.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav_links ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid red;
  border-radius: 15px;
}
nav img {
  width: 150px;
}

/* Bottoni presenti nelle pagine */
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid red;
  padding: 12px 28px;
  border-radius: 15px;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid red;
  background: rgb(196, 195, 195);
  color: black;
  transition: 0.3s;
}
.btn a {
  text-decoration: none;
  color: black;
}

/* Bottoni secondari */
.btn--sub {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid red;
  padding: 12px 28px;
  border-radius: 15px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.btn--sub:hover {
  border: 1px solid red;
  background: black;
  color: black;
  transition: 0.3s;
}

/* Stile del bottone di invio dei form */
input[type=text], input[type=password], input[type=email] {
  display: block;
  margin-left: 0;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
  color: black;
  border: 1px solid red;
  transition: 0.2s linear;
}
input[type=submit]:hover {
  color: black;
  transition: 0.2s linear;
}

/* Stile dei form */
#form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
}

#name_surname__label,
#name_surname__input,
#credentials__label,
#credentials__input,
#phones__label,
#phones__input {
  display: flex;
}

#name_surname__label label,
#name_surname__input input[type="text"],
#credentials__label label,
#credentials__input input[type="text"],
#credentials__input input[type="password"],
#phones__label label,
#phones__input input[type="text"],
select,
input[type="file"],
input[type="date"] {
  width: calc(50% - 5px);
}

#name_surname__label label,
#credentials__label label,
#phones__label label {
  margin-right: 10px;
}

#credentials__input span {
  margin-left: 10px;
  color: red;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="password"],
#form input[type="file"],
select,
#form textarea,
input[type="date"] {
  width: calc(100% - 22px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

#form input[type="submit"]:hover {
  background-color: #45a049;
}

#form label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="password"],
#form input[type="file"],
select,
#form textarea,
input[type="date"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* stile delle tabelle */
#table {
  text-align: center;
}
table {
  width: 80%;
  max-width: 1800px; 
  margin: 20px auto;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table--btn, .btn_delete {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table--btn a, .btn_delete a {
  text-decoration: none;
  color: white;
}
.table--btn:hover, .btn_delete:hover {
  background-color: #45a049;
}
.btn_delete {
  background-color: #ff6347;
  color: white;
}
.btn_delete:hover {
  background-color: #ff483b;
}


/* GALLERIA PER LE FOTO */
.gallery {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin: 0 auto;
  width: 900px;
  height: 86vh;
  padding: 10px;

}
.gallery .photo {
  max-width: 100%;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  object-fit: cover;
}

/* HEADER DELLA HOME */
.header {
  padding: 20px;
  border-bottom: .2px solid gray;
  border-top: 25px solid red;
}

header {
  text-align: center;
  padding: 50px 0;
}

/* HEADER PAGINE SECONDARIE */
.sub_header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(var(--opacity), var(--opacity)), url(../../images/content/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
}

/* SEZIONE PRINCIPALE DELLE PAGINE */
.info {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

/* SPAZIO ORIZZONTALE PER INFO NELLE PAGINE */
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row_photo {
  margin: 0 auto;
  width: 1000px;
  height: 650px;
}
.row_photo-img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.row_photo-title {
  color: var(--logo);
  width: 100%;
  text-align: center;
}

/* SPAZIO VERTICALE PER INFO NELLE PAGINE */
.info_col {
  flex-basis: 100%;
}
.info_col.important {
  padding: 3%;
  border-radius: var(--radius);
  border: 3px solid var(--text-important);
  background: linear-gradient(var(--thirdOpacity), var(--text-important));
}
.info_col p {
  color: var(--paragraph);
  font-size: var(--mainParagraph);
  padding: 15px 0 15px;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
}
.info_col img {
  float: right;
  padding: 2px;
  max-width: 50%;
  max-height: 100%;
  border-radius: 20px;
}
.info_col iframe {
  float: right;
  max-width: 1000px;
  max-height: 100%;
  border-radius: 20px;
}
.info_col--web_text {
  color: var(--logo);
  text-decoration: none;
  cursor: pointer;
}
.info_col--web_text:hover {
  color: var(--black);
}
.info_col--map {
  width: 100%;
}
.info_col--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* RIGA DI SEPARAZIONE */
hr {
  width: 95%;
  margin-left: 2.5%;
}

.mapSelector-text {
  display: flex;
  justify-content: center;
}
.mapSelector-text h4 {
  padding: 0 2% 0 2%;
  color: var(--black);
}
.mapSelector-selector {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  display: block;
  margin: 0 auto;
}
.mapSelector-selector select {
  font-size: var(--mapsSelector);
  border-radius: var(--radius);
  text-align: center;
  padding: 10px;
}

.map {
  height: 45rem;
  border-radius: var(--radius);
}

#graficoMap {
  width: 50rem;
  border-radius: 8px;
  float: right;
}

#gallery {
  display: flex;
  justify-content: space-evenly;
}

#mapImages {
  height: 900px;
  width: 500px;
  border-radius: var(--radius);
}

/* FOOTER DI TUTTE LE PAGINE */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0; /* Spazio interno al footer */
}

/* Stile per i link nel footer */
footer a {
  color: #fff;
  text-decoration: none;
}

/* Stile per i link nel footer al passaggio del mouse */
footer a:hover {
  text-decoration: underline;
}


/* ICONE DEI SOCIAL */
.icons {
  font-size: var(--secondaryText);
}
.icons .fa {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
}

#container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.image {
  display: inline-block;
  width: 300px; /* larghezza delle immagini */
  height: 200px; /* altezza delle immagini */
  margin-right: 10px; /* margine tra le immagini */}

.index{
  width: 100vw;
  height: 100vh;
}
.index>img{
  width: 100vw;
  height: 100vh;
}