/*COLOR PALETTE DELLE PAGINE*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: white;
}

/* Typography */
h1 {
  color: black;
  font-size: 50px;
  font-weight: 1200;
}
h2 {
  color: black;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
}
h3 {
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
h4 {
  color: black;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 15px;
}
h5 {
  color: white;
  font-size: 17px;
  padding-bottom: 15px;
}

/* Bottoni di navigazione */
.header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-top: 25px solid #E83C2F; /* vecchio colore salmonato #f16d6d */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_links {
  flex: 1;
  text-align: right;
}
.nav_links ul {
  padding: 0;
  margin: 0;
}
.nav_links ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
.nav_links ul li:first-child {
  margin-left: 0; 
}
.nav_links ul li a {
  color: black; 
  text-decoration: none;
  font-size: 16px; 
  padding: 10px 15px; 
  border-radius: 10px; 
  border: 1px solid #E83C2F; /* #E83C2F */
  transition: background-color 0.3s ease; 
}
.nav_links ul li a:hover {
  background-color: #E83C2F; /* #E83C2F */
}
nav img {
  width: 150px;
}

/* Bottoni presenti nelle pagine */
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid #E83C2F; /* #E83C2F */
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn a {
  text-decoration: none;
  color: black;
}
.btn-sel{
  background: #E83C2F; /* #E83C2F */
}

.btn:hover {
  background-color: #E83C2F; /* #E83C2F */
  color: #333;
}
.btn__dis {
  opacity: 0.5;     
  cursor: not-allowed; 
}

#admin_btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}
#admin_btn .btn {
  margin: 5px;
}


/* Stile dei form */
#form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(232, 60, 47, 0.1); /* #E83C2F */
  max-width: 1000px;
  margin: 0 auto;
}
#name_surname__label,
#name_surname__input,
#credentials__label,
#credentials__input,
#phones__label,
#phones__input {
  display: flex;
}
#name_surname__label label,
#name_surname__input input[type="text"],
#credentials__label label,
#credentials__input input[type="text"],
#credentials__input input[type="number"],
#credentials__input input[type="password"],
#phones__label label,
#phones__input input[type="text"],
select,
input[type="file"],
input[type="date"] {
  width: calc(50% - 5px);
}
#name_surname__label label,
#credentials__label label,
#phones__label label {
  margin-right: 10px;
}
#credentials__input span {
  margin-left: 10px;
  color: red; /* Red */
}
#form input[type="text"],
#form input[type="number"],
#form input[type="email"],
#form input[type="password"],
#form input[type="file"],
select,
#form textarea,
input[type="date"] {
  width: calc(100% - 22px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
#form input[type="submit"] {
  background-color: #f16d6d; /* #E83C2F */
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
#form input[type="submit"]:hover {
  background-color: #ee3a3a; /* Darker Red */
}
#form label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}
#form input[type="text"],
#form input[type="email"],
#form input[type="number"],
#form input[type="password"],
#form input[type="file"],
select,
#form textarea,
input[type="date"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* stile delle tabelle */
#table {
  text-align: center;
  padding-bottom: 100px;
}
table {
  width: 80%;
  max-width: 1800px; 
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #F98275; /* Lighter Red */
  color: #333;
  font-weight: bold;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table--btn, .btn_delete, .table--btn_file {
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table--btn a, .btn_delete a, .table--btn_file a {
  text-decoration: none;
  color: white;
}
.table--btn:hover, .btn_delete:hover {
  filter: brightness(1.2); /* Incrementa la luminosità al passaggio del mouse */
}
.btn_delete {
  background-color: #FF6359; /* Bright Red */
}
.btn_delete:hover {
  background-color: #EE3A3A; /* Darker Red */
}

.table--btn_file{
  background-color: #51DE81; /* Green */
  color: white;
}
.table--btn_file:hover {
  filter: brightness(1.2); /* Incrementa la luminosità al passaggio del mouse */
}

.table--btn {
  background-color: #53A8FF; /* Blue */
  color: white;
}
.table--btn:hover {
  filter: brightness(1.2); /* Incrementa la luminosità al passaggio del mouse */
}

/* stile per il form del login */
#login_form {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background-color: #ffe6e6; /* Cambiato */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#login_form__title {
  text-align: center;
  margin-bottom: 30px;
  color: #E83C2F; /* Cambiato */
}
#login_form__label {
  display: block;
  margin-bottom: 5px;
  color: #E83C2F; /* Cambiato */
}
#login_form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffcccc; 
  border-radius: 4px;
  margin-bottom: 10px;
}
.login_form__submit {
  width: 100%;
  padding: 12px;
  background-color: #E83C2F; /* Cambiato */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login_form__submit:hover {
  background-color: #cc0000;
}

/* Stile per bacheca e newsletter*/
.bacheca_newsletter__btn {
  text-align: center;
}
.bacheca_newsletter__content {
  padding: 20px;
  text-align: center;
}
.bacheca_newsletter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bacheca_newsletter-item {
  flex: 0 0 calc(33.33% - 20px); 
  max-width: calc(33.33% - 20px);
  margin: 10px;
}
.pdf-preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.pdf-preview embed {
  width: 100%; 
  height: 200px;
}

/* galleria nella pagina home */
.body__main {
  width: 100%;
  height: 87vh;
  overflow: hidden;
}
.gallery {
  display: flex;
  transition: transform 1s linear;
}
.gallery .photo {
  flex-shrink: 0;
  width: 100vw;
  height: auto;
}
.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #E83C2F;
  font-size: 48px;
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.paragraph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  font-size: 18px; 
  text-align: center; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Stile per messaggio di esito */
.success {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #DFF2BF;
  border: 1px solid #4F8A10;
  color: #4F8A10;
  font-size: 18px;
  font-weight: bold;
}
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #F2DEDE;
  border: 1px solid #D8000C;
  color: #D8000C;
  font-size: 18px;
  font-weight: bold;
}
.warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FCF8E3;
  border: 1px solid #FEEFB3;
  color: #9F6000;
  font-size: 18px;
  font-weight: bold;
}

/* footer di tutte le pagine */
footer {
  width: 100%;
  background-color: #5e5e5e; /* Cambiato */
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
.content-before-footer {
  margin-bottom: 100px;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-container {
  margin-bottom: 20px;
}
.contact-info p {
  margin: 5px 0;
}
.contact-info p:first-child {
  margin-top: 15px;
}
.footer-title {
  font-size: 35px; /* Modifica la dimensione del testo a 24px */
}
.footer-hr {
  border: 2px solid #fff; /* Linea più spessa */
  margin: 0 auto; /* Centra l'hr */
  width: 55%; /* Larghezza dell'hr */
  border-radius: 5px; /* Smussatura degli angoli */
}
iframe {
  border-radius: 10px;
}
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 30px;
  height: 30px;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* facebook*/
.containerTwo:hover {
  background-color: #0866FF;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 15px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aggiunta di regole CSS per le nuove colonne */
.contact-info-and-social {
  display: flex;
  flex-direction: row; /* Organizza i contenuti in una riga */
  justify-content: space-between; /* Spazio uniforme tra le colonne */
  margin-top: 1px; /* Aggiunge un margine superiore */
}

.contact-info {
  flex-grow: 1; /* La colonna occupa lo spazio rimanente */
  margin-right: 30px; /* Aggiunge spazio tra le colonne */
}

.social-buttons {
  display: flex;
  gap: 10px; /* Spazio tra i bottoni social */
  align-items: center; /* Allinea i bottoni social verticalmente */
  justify-content: center; /* Centra i bottoni social */
}

/* Regole CSS aggiuntive per i contenuti delle colonne */
.contact-info p {
  margin: 0; /* Rimuove i margini dei paragrafi */
}

.socialContainer {
  width: 40px; /* Aumenta leggermente la larghezza dei bottoni */
  height: 40px;
}

/*----------------------------------DA QUA IN GIU STILE DA RIVEDERE-------------------------------------*/











/* SEZIONE PRINCIPALE DELLE PAGINE */
.info {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

/* SPAZIO ORIZZONTALE PER INFO NELLE PAGINE */
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row_photo {
  margin: 0 auto;
  width: 1000px;
  height: 650px;
}
.row_photo-img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.row_photo-title {
  color: var(--logo);
  width: 100%;
  text-align: center;
}

/* SPAZIO VERTICALE PER INFO NELLE PAGINE */
.info_col {
  flex-basis: 100%;
}
.info_col.important {
  padding: 3%;
  border-radius: var(--radius);
  border: 3px solid var(--text-important);
  background: linear-gradient(var(--thirdOpacity), var(--text-important));
}
.info_col p {
  color: var(--paragraph);
  font-size: var(--mainParagraph);
  padding: 15px 0 15px;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
}
.info_col img {
  float: right;
  padding: 2px;
  max-width: 50%;
  max-height: 100%;
  border-radius: 20px;
}
.info_col iframe {
  float: right;
  max-width: 1000px;
  max-height: 100%;
  border-radius: 20px;
}
.info_col--web_text {
  color: var(--logo);
  text-decoration: none;
  cursor: pointer;
}
.info_col--web_text:hover {
  color: var(--black);
}
.info_col--map {
  width: 100%;
}
.info_col--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.mapSelector-text {
  display: flex;
  justify-content: center;
}
.mapSelector-text h4 {
  padding: 0 2% 0 2%;
  color: var(--black);
}
.mapSelector-selector {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  display: block;
  margin: 0 auto;
}
.mapSelector-selector select {
  font-size: var(--mapsSelector);
  border-radius: var(--radius);
  text-align: center;
  padding: 10px;
}

#gallery {
  display: flex;
  justify-content: space-evenly;
}

/* ICONE DEI SOCIAL */
.icons {
  font-size: var(--secondaryText);
}
.icons .fa {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
}