@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: white;
}

/* Typography */
h1 {
  color: black;
  font-size: 50px;
  font-weight: 1200;
}
h2 {
  color: black;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
}
h3 {
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
h4 {
  color: black;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 15px;
}
h5 {
  color: white;
  font-size: 17px;
  padding-bottom: 15px;
}

/* Bottoni di navigazione della navbar */
.header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-top: 25px solid #E83C2F; /* vecchio colore salmonato #f16d6d */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_links {
  flex: 1;
  text-align: right;
}
.nav_links ul {
  padding: 0;
  margin: 0;
}
.nav_links ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
.nav_links ul li:first-child {
  margin-left: 0; 
}
.nav_links ul li a {
  color: black; 
  text-decoration: none;
  font-size: 16px; 
  padding: 10px 15px; 
  border-radius: 10px; 
  border: 1px solid #E83C2F;
  transition: background-color 0.3s ease; 
}
.nav_links ul li a:hover {
  background-color: #E83C2F;
}
nav img {
  width: 150px;
}

/* Bottoni presenti nelle pagine */
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid #E83C2F;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn a {
  text-decoration: none;
  color: black;
}
.btn:hover {
  background-color: #E83C2F;
  color: #333;
}

/* bottone per mostrare la pagina selezionata */
.btn_sel{
  background: #E83C2F;
}

/* bottone che indica che non é cliccabile perche disabilitato */
.btn_dis {
  opacity: 0.5;     
  cursor: not-allowed; 
}
.btn_dis:hover {
  color: inherit;
  text-decoration: none;
  background: transparent;
  cursor: not-allowed; 
}

/* contenitore bottoni funzionalitá admin */
#admin_btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}
#admin_btn .btn {
  margin: 5px;
}

/* stile dell'errore di possibili errori come username non disponibile o password errata*/
.span_error {
  display: block;
  color: #ff0800;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

/* stile della pagina about */
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 50px;
}
.about__title {
  font-size: 46px;
  color: #E83C2F;
  margin-bottom: 20px;
}
.about__container_sub {
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.about__container_sub__other {
  width: calc(50% - 20px);
  padding: 35px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.highlight {
  color: #E83C2F;
  font-weight: bold;
}

/* Stile dei form */
#form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(232, 60, 47, 0.1);
  max-width: 1000px;
  margin: 0 auto;
}

/* etichette e input presenti nei form */
.div__label,
.div__input {
  display: flex;
  justify-content: space-around;
}
.div__label label {
  margin-right: 15px;
}
.div__label label,
.div__input input[type="text"],
.div__input input[type="number"],
.div__input input[type="password"],
select,
input[type="file"],
input[type="date"] {
  width: calc(50% - 5px);
}

/* stile errori che potrebbero comparire nel form */
.div__input span {
  margin-left: 10px;
  color: red;
}

/* stile di tutti i tipi di input presenti */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="file"],
input[type="date"],
select,
textarea {
  width: calc(100% - 22px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  display: block;
}

/* bottone di invio del form */
#form input[type="submit"] {
  background-color: #f16d6d;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
#form input[type="submit"]:hover {
  background-color: #ee3a3a;
}

/* stile delle tabelle */
#table {
  text-align: center;
  padding-bottom: 100px;
}
table {
  width: 80%;
  max-width: 1800px; 
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #F98275;
  color: #333;
  font-weight: bold;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table_btn, .btn_delete, .table_btn__file {
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table_btn a, .btn_delete a, .table_btn__file a {
  text-decoration: none;
  color: white;
}
.table_btn:hover, .btn_delete:hover {
  filter: brightness(1.2);
}
.btn_delete {
  background-color: #FF6359;
}
.btn_delete:hover {
  background-color: #EE3A3A;
}
.table_btn__file{
  background-color: #51DE81;
  color: white;
}
.table_btn__file:hover {
  filter: brightness(1.2);
}
.table_btn {
  background-color: #53A8FF;
  color: white;
}
.table_btn:hover {
  filter: brightness(1.2);
}

/* stile per il form del login */
#login_form {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background-color: #ffe6e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#login_form__title {
  text-align: center;
  margin-bottom: 30px;
  color: #E83C2F;
}
#login_form__label {
  display: block;
  margin-bottom: 5px;
  color: #E83C2F;
}
#login_form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffcccc; 
  border-radius: 4px;
  margin-bottom: 10px;
}
#login_form__submit {
  width: 100%;
  padding: 12px;
  background-color: #E83C2F;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#login_form__submit:hover {
  background-color: #cc0000;
}

/* Stile per bacheca e newsletter */
.bacheca_newsletter__btn {
  text-align: center;
}
.bacheca_newsletter__content {
  padding: 20px;
  text-align: center;
}
.bacheca_newsletter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bacheca_newsletter__list-item {
  flex: 0 0 calc(33.33% - 20px); 
  max-width: calc(33.33% - 20px);
  margin: 10px;
  height: 245px;
}
.bacheca_newsletter__list-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bacheca_newsletter__list__pdf-preview:hover .bacheca_newsletter__list-item__overlay {
  opacity: 1;
}
.bacheca_newsletter__list-item__visualize {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bacheca_newsletter__list-item__visualize:hover {
  background-color: #ccc;
}
.bacheca_newsletter__list__pdf-preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.bacheca_newsletter__list__pdf-preview embed {
  width: 100%;
  height: 100%;
}

/* pagina galleria foto dinamica */
.association__gallery {
  text-align: center;
  padding: 20px;
}
.gallery__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.gallery__block {
  position: relative;
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 15px;
}
.gallery__block img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay button {
  background-color: #ffffff;
  color: #333333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.overlay button a {
  text-decoration: none;
  color: #333333;
}
.overlay button:hover {
  background-color: #de6b63;
  transition: 0.3s ease;
}
.gallery__block:hover .overlay {
  opacity: 1;
}
.delete_content_button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.delete_content_button:hover {
  background-color: #ff4d4d; 
}

/* sezione iniziale della home (galleria scorrevole) */
.body__main {
  width: 100%;
  height: 87vh;
  overflow: hidden;
}
.body__main_title {
  position: absolute;
  top: 12.4%;
  left: 0;
  width: 100%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  transform: translateX(-50%, -50%);
  z-index: 3;
  color: #E83C2F;
  font-size: 5rem;
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.paragraph {
  transform: translateX(-50%, -50%);
  z-index: 3;
  color: white;
  font-size: 1.2rem; 
  text-align: center; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 80%;
}
.body__main_gallery {
  display: flex;
  transition: transform 1s linear;
}
.body__main_gallery .photo {
  flex-shrink: 0;
  width: 100vw;
  height: auto;
}
#btn_volunteer_donation {
  background-color: #E83C2F;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}
#btn_volunteer_donation a {
  text-decoration: none;
  color: white;
}
#btn_volunteer_donation:hover {
  background-color: #de6b63;
}

/* info aggiuntive dell'associazione (sotto galleria nella home) */
.association__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.association__info div {
  text-align: center;
  margin-right: 20px;
  font-size: 35px;
}
.association__info span {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
}
#updateButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
#updateButton:hover {
  background-color: #0056b3;
}

/* blocco con delle news dell'associazione (sotto info associazione nella home) */
.association__news {
  text-align: center;
}
.news__title {
  margin: 20px 0 20px 0;
  font-size: 40px;
  color: #333;
}
.news__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}
.news__block {
  width: calc(30% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}
.news__block:hover {
  transform: translateY(-5px);
}
.news__block img {
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.news__content {
  padding: 10px 0;
}
.news__date {
  color: #888;
  font-style: italic;
  margin-bottom: 5px;
}
#add_content_button,
.del_content_button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-bottom: 15px;
}
#add_content_button:hover,
.del_content_button:hover {
  background-color: #333;
}
#add_content_button {
  margin-top: 20px;
  margin-right: 10px;
  background-color: #007bff;
}
.del_content_button {
  margin-top: 20px;
  background-color: #E83C2F;
}

/* Stile per il modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  overflow: auto; 
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
label {
  margin-right: 5px;
  font-weight: bold;
}
.modal__input {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.saveButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.saveButton:hover {
  background-color: #45a049;
}

/* footer di tutte le pagine
footer {
  width: 100%;
  background-color: #5e5e5e;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
.footer__title {
}
.footer__hr {
  border: 2px solid #fff;
  margin: 0 auto;
  width: 55%;
  border-radius: 5px;
}
.footer__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__map-container {
  margin-bottom: 20px;
}
.footer__contact-info {
  flex-grow: 1; 
}
.footer__contact-info p {
  margin: 5px;
}
.footer__contact-info p:first-child {
  margin-top: 15px;
}
.footer__contact-social {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-top: 1px;
} */

/* Stile base per il footer */
footer {
  width: 100%;
  background-color: #5e5e5e;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer__title {
  font-size: 35px;
  margin-bottom: 20px;
}

.footer__hr {
  border: 2px solid #fff;
  margin: 0 auto;
  width: 55%;
  border-radius: 5px;
}
.footer__content {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer__item1 {
  width: calc(50% - 20px);
}
.footer__item1 iframe {
  width: 85%;
  border-radius: 10px;
  border: none;
}
.footer__item2 {
  width: calc(15% - 20px);
  margin: 0 auto;
  padding: top 0px;
  text-align: left; 
  font-size: 18px; 
  line-height: 29px; 
}
.footer__item3 {
  width: calc(22% - 20px);
  margin: 0 auto;
  padding: top 0px;
  text-align: left; 
  font-size: 18px; 
  line-height: 33px; 
}
.footer__item4 {
  width: calc(13% - 20px);
  margin-right: 10px;
}

.footer__contact-info {
  text-align: left;
}

.social_buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.socialContainer {
  margin: 0 10px;
}

/* Stile per i link */
.footer__link {
  color: white;
  text-decoration: none;
}

/* Stile per i link visitati */
.footer__link:visited {
  color: white;
}
.footer__link:hover {
  text-decoration: underline;
}

/* contenitore dei social nel footer */
.socialContainer {
  width: 40px;
  height: 40px;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
.social_buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/* instagram*/
.containerOne {
  background-color: #d62976;
  transition-duration: .3s;
}
/* facebook*/
.containerTwo{
  background-color: #0866FF;
  transition-duration: .3s;
}
.socialSvg {
  width: 15px;
}
.socialSvg path {
  fill: rgb(255, 255, 255);
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* limito grandezza max delle textarea */
textarea {
  max-width: 900px;
  max-height: 200px;
  min-width: 900px;
  min-height: 200px;
}

/* Stile per i messaggi di esito operazioni */
.success {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #DFF2BF;
  border: 1px solid #4F8A10;
  color: #4F8A10;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
}
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #F2DEDE;
  border: 1px solid #D8000C;
  color: #D8000C;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
}
.warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FCF8E3;
  border: 1px solid #FEEFB3;
  color: #9F6000;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
}

/* Stile per la pagina offer */
.scrollable-images {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}
.scrollable-images img {
  width: 500px;
  height: auto;
  display: inline-block;
  margin: 5px;
}
.image-container {
  display: inline-block;
  vertical-align: top; 
}
.offer-h1 {
  text-align: center;
}
.offer-h2 {
  text-align: center;
  margin-top: 40px; 
  margin-bottom: 20px;
}